/*RESET*/

*{
    box-sizing: border-box;
    margin: 0 0;
    padding: 0;
}

body{
    font-family: 'Varela Round', sans-serif;
    
/*main*/   
}
.principal{
    background-color: #a0bed0;
    color:white;
    padding:2.5%;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.principal__menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.principal__menu-item{
    margin-right: 5%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:white;
}

.container{
    display:flex;
    flex-flow: column wrap;
    justify-content: baseline;
    align-items: center;
    background-image: url(../img/foto-banner.jpg);
    height: 100vh;
    opacity: .7;
    background-size: cover;
    filter: grayscale(100%);
    transition: .5s ease-in-out;
    
    
}

.container:hover {
    filter: grayscale(0%);
    transition: .5s ease-in-out;
   
 } 
  
.container__titulo{
    font-family: 'Nunito', sans-serif;
    font-size: 105px;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-top: 150px;
    color: white;
    text-align: center;
    background: -webkit-linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, 0));
  -webkit-background-clip: text ;
  -webkit-text-fill-color: transparent;

    
}

.container__texto{
    font-size: 22px;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
    color: white;
    opacity: .7;


}

.container__btn{
    border: 1px solid #829dad;
    border-radius: 5px;
    background-color: #829dad;
    color:white;
    padding: 20px;
    width: 215px;;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    letter-spacing: 2px;
}

.principal__menu-mobile{
    display: none;
}


/*about*/
.about{
    background-color: black;
    height: 250px;
   

} 

.about__conteudo{
    margin: 0 auto;
    width:55%;
}
.about__conteudo__titulo{
    font-size: 22px;
    color: white;
    text-align: center;
    padding:6%;
}

.about__conteudo__texto{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color:white;
    text-align: center;
    line-height: 25px;
    opacity: 0.7;
}
/*destination geral*/
.destination__sib{
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: 0 auto;
    margin-top: 120px; 
}
/*destination siberia*/
.destination__sib img{
    width: 55vw;
    height: auto;
    filter: grayscale(100%);
    transition: .5s ease-in-out;
    
}
.destination__sib img:hover {
    filter: grayscale(0%);
    transition: .5s ease-in-out;
   
 } 

.destination__sib__conteudo{
    align-self:center;
    height: 120px;
    
    border-left: 8px solid  #a0bed0; 
}
.destination__sib__titulo{
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    letter-spacing: 1.8px;
    padding: 0 10px;
    margin-left: 10px;
    vertical-align: top;
}

.destination__sib__texto{
    font-size: 15px;
    letter-spacing: 1.8px;
    line-height: 20px;
    padding: 10px;
    margin-left: 10px;
    color: black;
    opacity: .5;
}
/*destination groelandia antartida imagens*/

.destination__box {
     
    width: 80vw;
    margin: 50px auto 0 auto;
}

.destination__groe{
    display: flex;
    align-items: center;
    width:80vw;
    background-color: black;
    height: 370px;

}

.destination__ant{
    display: flex;
    align-items: center;
    width:80vw;
    background-color: black;
    height: 370px;
}


.destination__groe img, .destination__ant img {
    max-width:560px;
    width: 547px;
    height: inherit;
 }

.destination__groe__img, .destination__ant__img{
    height: 370px;
}

.destination__groe img{
    filter: grayscale(100%);
    transition: .5s ease-in-out;
}

.destination__groe img:hover{
    filter: grayscale(0%);
    transition: .5s ease-in-out;
} 


.destination__ant img{
    filter: grayscale(100%);
    transition: .5s ease-in-out;
}

.destination__ant img:hover {
    filter: grayscale(0%);
    transition: .5s ease-in-out;
}

/*destination groelandia antartida conteúdos*/
.destination__groe__titulo{
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    letter-spacing: 1.5px;
    padding: 0 10px;
    margin-left: 40px;
    vertical-align: center;
    color: white;
}

.destination__groe__texto{
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 20px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 25px;
    color: white;
    opacity: .5;
   
}

.destination_groe_hr{
    border: 2px solid #36b0e0;
    width: 150px;
    margin-left: 49px;
    margin-top: 10px;   

}

.destination__ant__titulo{
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    letter-spacing: 1.5px;
    padding: 0 10px;
    margin-left: 394px;
    color: white;
    
}

.destination__ant__texto{
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 20px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 25px;
    color: white;
    opacity: .5;
    text-align: right;
   
}

.destination_ant_hr{
    border: 2px solid #36b0e0;
    width: 150px;
    margin-left: 357px;
    margin-top: 10px;   

}







@media (max-width: 768px){

    .container__titulo{
        font-size: 90px;
        letter-spacing: 2px;
    }
    .container__texto{
        font-size: 20px;
    }
    .about{
        height: 350px;
        
    }
    .container__texto-quebra-de-linha{
        display: none;
    }

}

@media (max-width: 420px) {

    .container__titulo{
        font-size: 65px;
        letter-spacing: 1px;
    }
    .principal__menu-mobile {
        display: block;        
    }
    .principal__menu-item{
        display:none;
    }
    .about{
        height: 490px;
        
    }
    .about__conteudo{
        padding-top: 45px;
        width: 85%;
    }

}